<p id="notice"><%= notice %></p>

<div class="container ">

<h1 class="text-center mb-4 mt-5">Barang</h1>

<table class="table table-bordered mt-auto">
  <thead>
    <tr class="text-center">
      <th scope="col">Nama</th>
      <th scope="col">Jenis</th>
      <th scope="col">Harga</th>
      <th colspan="3" scope="col">Aksi</th>
    </tr>
  </thead>

  <tbody>
    <% @barangs.each do |barang| %>
      <tr>
        <td><%= barang.nama %></td>
        <td><%= barang.jenis %></td>
        <td class="text-center"><%= barang.harga %></td>
        <td class="text-center"><%= link_to 'Show', barang, class: "btn btn-secondary" %></td>
        <td class="text-center"><%= link_to 'Edit', edit_barang_path(barang), class: "btn btn-warning" %></td>
        <td class="text-center"><%= link_to 'Delete', barang, method: :delete,class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="nav justify-content-end">
<%= link_to 'New Barang', new_barang_path, class: "btn btn-primary mx-auto" %>
</div>
</div>

